.m-comment-list{
  padding:.2667rem;
  .comment-item{
    padding:.2667rem 0;
    .header{
      display: flex;
      align-items: center;
      .avatar{
        width: .7467rem;
        height: .7467rem;
      }
    }
  }
}